* {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none !important;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #0C1013 !important;
    overflow-x: hidden;
}


.custom-nav {
    /* border: 2px solid red; */
    background-color: #1e272e96 !important;
    z-index: 10;
}

.custom-nav .navbar-brand {
    color: white;
    font-weight: 700;
}

.custom-nav .navbar-brand .brand-dev {
    color: red;
}

.custom-nav .nav-link {
    color: rgba(255, 255, 255, 0.493);
}


.custom-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.959);
}

.custom-nav .navbar-nav {
    /* border: 2px solid red; */
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.slogan{
    color: rgba(255, 255, 255, 0.66);
}

.custom-nav .active {
    color: red !important;
    font-weight: 800 !important;
    border-bottom: 2px;
}

main {
    height: 100%;
    width: 100%;
}

/* Home-Container */
main .home-con {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
}

main .home-con .bg-animation {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main .home-con .bg-animation .star {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

main .home-con .bg-animation .round-1 {
    position: absolute;
    z-index: 10;
    height: 300px;
    width: 300px;
}

main .home-con .bg-animation .round-2 {
    position: absolute;
    /* z-index: 10; */
    height: 100px;
    width: 100px;
    left: 70%;
    top: 20%;
    opacity: 0.6;
}

main .home-con .bg-animation .round-3 {
    position: absolute;
    /* z-index: 10; */
    height: 250px;
    width: 250px;
    left: 0%;
    top: 60%;
}

main .home-con .bg-animation .round-4 {
    position: absolute;
    /* z-index: 10; */
    height: 250px;
    width: 250px;
    left: 70%;
    top: 50%;
}

@keyframes illution-animation {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0px;
    }
}

main .home-con .bg-animation .illution {
    position: absolute;
    /* z-index: 10; */
    height: 200px;
    width: 200px;
    left: 72%;
    top: 53%;
    animation-name: illution-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* main .home-con .info-con {
    border: 2px solid red;
    position: absolute;
} */

.home-con .info-con {
    /* border: 2px solid red; */
    width: fit-content;
    margin-top: 20%;
    position: absolute;
    margin-left: 30%;
    z-index: 20;
}


.home-con .info-con .name {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 600;
}

.home-con .info-con .role {
    color: white;
    font-size: 22px;
    font-weight: 500;

}


.home-con .info-con .social-con {
    /* border: 2px solid red; */
    width: 300px;
    height: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-con .info-con .social-con .round {
    border: 2px solid white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-con .info-con .social-con .round i {
    font-size: 22px;
    color: white;
    transition: 0ms color;
}


#round:hover {
    border-color: red;
    height: 46px;
    width: 46px;
    border-radius: 23px;
    box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.75);
}

#round:hover #Icon {
    color: red;
    font-size: 25px;
    transition-delay: 60ms;
}


.home-con .info-con .role .des {
    color: red;
}

.home .bg-animation {
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
}


/* Home-Container */


/* About-Container */
main .About-con {
    /* border: 2px solid red; */
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .subtitle {
    color: white;
    margin-top: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}


main .About-con .bio-con {
    /* border: 2px solid red; */
    height: fit-content;
    width: 80%;
    background-color: #121C23;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px;
    overflow: hidden;
}

main .About-con .line-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .About-con .line-con .line {
    height: 90%;
    width: 2px;
    background-color: gray;
}

main .About-con .card-1 {
    border-width: 0px;
    /* border: 2px solid red; */
    background-color: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .About-con .card-1 .pro-img {
    border-radius: 10px;
}

main .About-con .card-2 {
    border-width: 0px;
    background-color: transparent !important;
    height: 100% !important;
    width: 100% !important;
    align-items: center;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    /* border: 2px solid red; */
}

main .About-con .card-2 .card-body {
    /* border: 2px solid green; */
    width: fit-content !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main .About-con .card-2 .card-body p {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

main .About-con .card-2 .card-body button {
    margin-top: 40px;
}

main .About-con .skill-con {
    /* border: 2px solid red; */
    background-color: #121C23;
    height: 400px;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .About-con .hor-con {
    height: 100%;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: -100px;
}

main .About-con .hor-con::-webkit-scrollbar {
    display: none;
}

main .About-con .hor-con .skill-detail {
    /* border: 2px solid red; */
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.radialProgressBar {
    border-radius: 50%;
    /* -webkit-transform: translate(50%, 50%); */
    /* transform: translate(50%, 50%); */
    width: 250px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ddd;
    margin: 20px;
    float: left;
}


.radialProgressBar .overlay {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: auto;
    background: #121C23;
    text-align: center;
    padding-top: 38%;
    color: red;
    font-size: 20px;
}


.progress-0 {
    background-image: -webkit-linear-gradient(left, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-10 {
    background-image: -webkit-linear-gradient(36deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-20 {
    background-image: -webkit-linear-gradient(72deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-30 {
    background-image: -webkit-linear-gradient(108deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-40 {
    background-image: -webkit-linear-gradient(144deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-50 {
    background-image: -webkit-linear-gradient(right, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(-90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #028cd5 50%, #ddd 50%);
}

.progress-60 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(36deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(54deg, #028cd5 50%, #ddd 50%);
}

.progress-70 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(72deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(18deg, #028cd5 50%, #ddd 50%);
}

.progress-80 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(108deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-18deg, #028cd5 50%, #ddd 50%);
}

.progress-90 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(144deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-54deg, #028cd5 50%, #ddd 50%);
}

.progress-100 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(right, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(-90deg, #028cd5 50%, #ddd 50%);
}

.progress-70 {
    background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(72deg, #028cd5 50%, #ddd 50%);
    background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%), linear-gradient(18deg, #028cd5 50%, #ddd 50%);
}

main .About-con .skill-con .skill-detail .skill-name {
    color: white;
    font-size: 18px;
    font-weight: 500;
    /* border: 2px solid red; */
    width: 200px;
    text-align: center;
}


main .About-con .perv-btn {
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgba(31, 48, 59, 0.773);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

main .About-con .perv-btn i {
    color: white;
    font-size: 22px;
}

main .About-con .nxt-btn {
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: rgba(31, 48, 59, 0.773);
    justify-content: center;
    border: 0px;
}

main .About-con .nxt-btn i {
    color: white;
    font-size: 22px;
}

/* About-Container */


/* Portfolio-Container */
main .portfolio-con {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
}

main .portfolio-con .work-con {
    /* border: 2px solid red; */
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

main .portfolio-con .work-con .work-item-con {
    /* border: 2px solid red; */
    padding: 50px;
}

main .portfolio-con .work-con .work-item-con .card-group {
    justify-content: space-around;
}

main .portfolio-con .work-con .work-item-con .card-group .card {
    margin: 20px;
    border-radius: 10px !important;
    background-color: transparent;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-height: 400px;
    max-width: 400px;

}

main .portfolio-con .work-con .work-item-con .card-group .card .work-name {
    /* border: 2px solid red; */
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

main .portfolio-con .work-con .work-item-con .card-group .card .work-dis {
    /* border: 2px solid red; */
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    margin-top: -18px;
}

/* Portfolio-Container */


/* Contact-Container */

main .contact-con {
    /* border: 2px solid red; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contact-con .contact-info-con {
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background: #121C23;
    padding: 20px;
}

main .contact-con .contact-info-con .row {
    height: 90% !important;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
}

main .contact-con .contact-info-con .card {
    background-color: transparent;
    border-width: 0px;
    align-items: center;
}

main .contact-con .card-left {
    /* border: 2px solid red !important; */
    height: 500px;
    width: 100%;
    overflow: hidden;
}


main .contact-con .contact-info-con .card-right form {
    width: 90%;
    /* border: 2px solid red; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

main .contact-con .contact-info-con .card-right .row-name-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid red; */
}


.form-item {
    position: relative;
    margin-bottom: 15px;
    /* border: 2px solid red; */
    width: 100%;
    margin: 10px 0px;

}

.form-item input {
    width: 100%;
    color: white;
    border-radius: 5px;
}

.row-name-con .form-item {
    width: 48%;
}

.form-item input {
    display: block;
    height: 50px;
    width: 100%;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px
}

.form-item input:focus {
    border-color: white
}

.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #121C23;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-item input:focus+label,
.form-item input:valid+label {
    font-size: 11px;
    top: -5px
}

.form-item input:focus+label {
    color: white
}


.form-item textarea {
    width: 100% !important;
    color: white;
    padding-top: 10px !important;
    border-radius: 5px;
}

.form-item {
    position: relative;
    margin-bottom: 15px
}

.form-item textarea {
    display: block;
    /* width: 400px; */
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px
}

.form-item textarea:focus {
    border-color: white
}


.form-item textarea:focus+label,
.form-item textarea:valid+label {
    font-size: 11px;
    top: -5px
}

.form-item textarea:focus+label {
    color: white
}


main .contact-con .contact-info-con .card-right form .submit-btn {
    margin-top: 20px;
    border-width: 2px;
    padding: 5px 30px;
}

/* Contact-Container */


/* Footer-Container */

.footer-con {
    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
    background-color: #00000059;
    margin-top: 50px;
}

.footer-con .con {
    height: 100%;
    padding: 0px 50px;

}

.footer-con .footer-item-co {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-con .footer-item-co .con1 {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
}

.footer-con .footer-item-co .col-md-4 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-con .footer-item-co .con1 span {
    color: rgba(255, 255, 255, 0.616);
    font-size: 12px;
}

.footer-con .footer-item-co .con2 {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
}

.footer-con .footer-item-co .con2 span {
    color: rgba(255, 255, 255, 0.616);
    font-size: 12px;
}

.footer-con .footer-item-co .con3 {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
}

.footer-con .footer-item-co .con3 .social-row-con {
    /* border: 2px solid red; */
    display: flex;
}

.footer-con .footer-item-co .con3 .social-row-con .round {
    height: 40px;
    width: 40px;
    border: 2px solid rgba(255, 255, 255, 0.459);
    margin: 0px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-con .footer-item-co .con3 .social-row-con .round i {
    color: rgba(255, 255, 255, 0.76);
    font-size: 22px;
}

/* Footer-Container */


@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden !important;
    }

    /* Home-Container */
    main .home-con .bg-animation .round-1 {
        height: 250px;
        width: 250px;
    }

    main .home-con .bg-animation .round-2 {
        width: 50px;
        height: 50px;
        left: 80%;
        top: 30%
    }

    main .home-con .bg-animation .round-3 {
        position: absolute;
        /* z-index: 10; */
        height: 100px;
        width: 100px;
        top: 40%
    }

    main .home-con .bg-animation .round-4 {
        left: 15%;
        top: 55%;
    }



    main .home-con .bg-animation .illution {
        left: 25%;
        top: 60%;
        height: 180px;
        width: 180px;
    }

    .home-con .info-con {
        left: 0%;
        /* border: 2px solid red; */
        margin-left: 30px;
        margin-top: 200px;
    }


    /* Home-Container */


    /* About-Container */

    main .About-con .bio-con {
        height: auto !important;
        width: 95%;
        /* overflow: scroll; */
        border-radius: 10px !important;
    }


    main .About-con .card-2 {
        height: fit-content;
    }

    main .About-con .card-2 .card-body p {
        font-size: 14px;
    }

    main .About-con .card-2 .card-body button {
        margin-top: 20px;
    }

    main .About-con .skill-con {
        height: 600px;
        width: 90%;
        flex-direction: column;
        padding: 10px;
    }

    main .About-con .hor-con {
        /* border: 2px solid red; */
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }



    .radialProgressBar {
        border-radius: 50%;
        /* -webkit-transform: translate(50%, 50%); */
        /* transform: translate(50%, 50%); */
        width: 150px;
        height: 150px;
    }


    .radialProgressBar .overlay {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
        background: #121C23;
        text-align: center;
        padding-top: 38%;
        color: red;
        font-size: 20px;
    }

    main .About-con .perv-btn {
        display: none;
    }

    main .About-con .nxt-btn {
        display: none;
    }

    main .portfolio-con {
        /* border: 2px solid red; */
        height: fit-content;
    }

    /* About-Container */


    /* Portfolio-Container */

    main .portfolio-con {
        overflow-x: hidden;
    }

    main .portfolio-con .work-con .work-item-con .card-group .card {
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 50px;
    }


    /* Portfolio-Container */


    /* Contact-Container */

    .contact-con {
        overflow-x: hidden !important;
        display: none;
    }

    main .contact-con .contact-info-con {
        /* border: 2px solid red; */
        height: fit-content;
    }

    main .contact-con .card-left {
        display: none;
    }

    main .contact-con .contact-info-con .card-right .row-name-con {
        flex-direction: column;
    }

    main .contact-con .contact-info-con .card-right form {
        width: 100%;
    }

    .row-name-con .form-item {
        width: 100%;
    }

    /* Contact-Container */

    /* Footer-Container */
    .footer-con {
        height: 100px;
        padding-top: 10px;
    }

    .footer-con .footer-item-co {
        flex-direction: column;
    }

    /* Footer-Container */

}